:root {
  --standard-font-size: 14px;
  --heading-margin-bottom-h1-h2: 0.75em;
  --heading-margin-bottom-h3: 1rem;
  --heading-margin-bottom-h4: 1.125rem;
  --icon-font-size: 2.5rem;
  --standard-green: #007078;
  --standard-blue: #036c96;
  --standard-orange: #9e5502;
  --standard-purple: #633e74;
  --dark-green: color-mix(in srgb, var(--standard-green) 80%, black);
  --dark-blue: color-mix(in srgb, var(--standard-blue) 80%, black);
  --dark-orange: color-mix(in srgb, var(--standard-orange) 90%, black);
  --dark-purple: color-mix(in srgb, var(--standard-purple) 75%, black);
  --intro-bg-blue: #bde4f7;
  --intro-bg-orange: #f9d298;
  --intro-bg-purple: #dec8df;
  --very-light-grey: #f9f8f8;
  --contact-container-green: #ebf6f8;
  --contact-container-blue: #daeef8;
  --contact-container-orange: #fdefdf;
  --contact-container-purple: #ece5ef;
  --header-height: 5rem;
  --padding-left-right: 1.25rem;
  --margin-hr: var(--padding-left-right);
  --width-social-media-container: 8rem;
  --max-width-wide-container: 1200px;
  --max-width-text-container: 800px;
  --nav-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  :root {
    --standard-font-size: 16px;
    --padding-left-right: 2.5rem;
  }
}
@media (min-width: 1025px) {
  :root {
    --standard-font-size: 18px;
    --header-height: 4.5rem;
    --padding-left-right: 3.5rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video,
canvas {
  font-style: italic;
}

img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

html {
  font-size: var(--standard-font-size);
}

h1,
h2,
h3,
a,
button,
input[type=submit] {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
h2 {
  margin-bottom: var(--heading-margin-bottom-h1-h2);
}

h3 {
  margin-bottom: var(--heading-margin-bottom-h3);
}

h4 {
  margin-bottom: var(--heading-margin-bottom-h4);
}

i {
  color: #222;
}

h1 {
  font-size: clamp(2.125rem, 4.5vw, 3rem);
}

h2 {
  font-size: clamp(1.75rem, 3.75vw, 2.5rem);
}
h2.small {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
}
h3.small {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.125rem;
}

nav {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--standard-green);
}
a:not(:has(i)):hover {
  text-decoration: underline;
}
a:has(i) i:hover {
  color: grey;
}
a[aria-current=page]:not(.contact-btn) {
  text-decoration: underline;
  font-weight: 500;
}

label {
  font-size: 0.875rem;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  line-height: 1.5;
}

.small {
  font-size: 0.75rem;
}

.slogan {
  font-size: 1.25rem;
  padding-bottom: 0;
  text-transform: uppercase;
}

.copyright {
  font-weight: 300;
}

.phone-number {
  font-size: 1.5rem;
  text-decoration: underline;
}
.phone-number:hover {
  color: var(--dark-green);
}
@media (min-width: 1025px) {
  .phone-number {
    font-size: 1.25rem;
  }
}

.theme-home h1,
.theme-home h2,
.theme-home h3,
.theme-home h4,
.theme-home a:not(.contact-btn),
.theme-home i {
  color: var(--standard-green);
}
.theme-home .contact-container {
  background-color: var(--contact-container-green);
}
.theme-home .contact-container a {
  color: var(--standard-green);
}
.theme-home .contact-btn,
.theme-home .footer-bottom-container {
  background-color: var(--dark-green);
}
.theme-home .contact-btn:hover {
  background-color: var(--standard-green);
}
.theme-home .download-btn {
  color: var(--standard-green);
}
.theme-home .contact-details-container a:hover,
.theme-home .contact-details-container i:hover {
  color: var(--dark-green);
}
.theme-home .background-image {
  background-image: url(/assets/images/bg-images/DEF_WIJJ_intro.png);
}
.theme-home main .intro {
  background-color: #fff;
}
.theme-home main section:nth-child(2) {
  background-color: #cbe8ed;
}

.theme-coachen h1,
.theme-coachen h2,
.theme-coachen h3,
.theme-coachen h4,
.theme-coachen a:not(.contact-btn),
.theme-coachen i {
  color: var(--standard-blue);
}
.theme-coachen .contact-container {
  background-color: var(--contact-container-blue);
}
.theme-coachen .contact-container a {
  color: var(--standard-blue);
}
.theme-coachen .contact-btn,
.theme-coachen .footer-bottom-container {
  background-color: var(--dark-blue);
}
.theme-coachen .contact-btn:hover {
  background-color: var(--standard-blue);
}
.theme-coachen .download-btn {
  color: var(--standard-blue);
}
.theme-coachen .contact-details-container a:hover,
.theme-coachen .contact-details-container i:hover {
  color: var(--dark-blue);
}
.theme-coachen .background-image {
  background-image: url(/assets/images//bg-images/DEF_WIJJ_blauwklein.png);
}
.theme-coachen main .intro {
  background-color: var(--intro-bg-blue);
}
.theme-coachen main section:nth-child(2) {
  background-color: var(--very-light-grey);
}
.theme-coachen main .text-container {
  display: block;
  text-align: start;
}

.theme-zorgen h1,
.theme-zorgen h2,
.theme-zorgen h3,
.theme-zorgen h4,
.theme-zorgen a:not(.contact-btn),
.theme-zorgen i {
  color: var(--standard-orange);
}
.theme-zorgen .contact-container {
  background-color: var(--contact-container-orange);
}
.theme-zorgen .contact-container a {
  color: var(--standard-orange);
}
.theme-zorgen .contact-btn,
.theme-zorgen .footer-bottom-container {
  background-color: var(--dark-orange);
}
.theme-zorgen .contact-btn:hover {
  background-color: var(--standard-orange);
}
.theme-zorgen .download-btn {
  color: var(--standard-orange);
}
.theme-zorgen .contact-details-container a:hover,
.theme-zorgen .contact-details-container i:hover {
  color: var(--dark-orange);
}
.theme-zorgen .background-image {
  background-image: url(/assets/images//bg-images/DEF_WIJJ_oranjeklein.png);
}
.theme-zorgen main .intro {
  background-color: var(--intro-bg-orange);
}
.theme-zorgen main section:nth-child(2) {
  background-color: var(--very-light-grey);
}
.theme-zorgen main .text-container {
  display: block;
  text-align: start;
}

.theme-werken h1,
.theme-werken h2,
.theme-werken h3,
.theme-werken h4,
.theme-werken a:not(.contact-btn),
.theme-werken i {
  color: var(--standard-purple);
}
.theme-werken .contact-container {
  background-color: var(--contact-container-purple);
}
.theme-werken .contact-container a {
  color: var(--standard-purple);
}
.theme-werken .contact-btn,
.theme-werken .footer-bottom-container {
  background-color: var(--dark-purple);
}
.theme-werken .contact-btn:hover {
  background-color: var(--standard-purple);
}
.theme-werken .download-btn {
  color: var(--standard-purple);
}
.theme-werken .contact-details-container a:hover,
.theme-werken .contact-details-container i:hover {
  color: var(--dark-purple);
}
.theme-werken .background-image {
  background-image: url(/assets/images//bg-images/DEF_WIJJ_paarsklein.png);
}
.theme-werken main .intro {
  background-color: var(--intro-bg-purple);
}
.theme-werken main section:nth-child(2) {
  background-color: var(--very-light-grey);
}

.theme-general h1,
.theme-general h2,
.theme-general h3,
.theme-general h4,
.theme-general a:not(.contact-btn),
.theme-general i {
  color: var(--standard-green);
}
.theme-general .contact-container {
  background-color: var(--contact-container-green);
}
.theme-general .contact-container a {
  color: var(--standard-green);
}
.theme-general .contact-btn,
.theme-general .footer-bottom-container {
  background-color: var(--dark-green);
}
.theme-general .contact-btn:hover {
  background-color: var(--standard-green);
}
.theme-general .download-btn {
  color: var(--standard-green);
}
.theme-general .contact-details-container a:hover,
.theme-general .contact-details-container i:hover {
  color: var(--dark-green);
}
.theme-general main {
  margin-top: var(--header-height);
}

button:focus-visible,
a:focus-visible,
input[type=text]:focus-visible,
input[type=submit]:focus-visible,
textarea:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
  border-radius: 2px;
}
@media (min-width: 768px) {
  button:focus-visible,
  a:focus-visible,
  input[type=text]:focus-visible,
  input[type=submit]:focus-visible,
  textarea:focus-visible {
    outline: 3px solid #000;
    outline-offset: 3px;
  }
}

.contact-btn:focus-visible,
.download-btn:focus-visible,
input[type=submit]:focus-visible {
  border-radius: 9999px;
}

.skiplink {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fff;
  padding: 5px 10px;
  color: var(--standard-green);
  font-weight: 500;
  transition: top 0.2s;
}
.skiplink:focus-visible {
  top: 10px;
  outline-offset: 0;
}

.wide-container {
  max-width: var(--max-width-wide-container);
  margin-inline: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width-text-container);
  margin-inline: auto;
}
.text-container > *:not(h2):not(:last-child) {
  margin-bottom: 2.5rem;
}
.text-container hr {
  margin-inline: 0;
  width: 100%;
}
.text-container .services-list {
  text-align: start;
}
.text-container .services-list i {
  margin-right: 10px;
}
.text-container .steps-list {
  text-align: start;
  list-style-type: square;
  padding-left: var(--padding-left-right);
}
@media (min-width: 1200px) {
  .text-container .steps-list {
    padding-left: 1rem;
  }
}

header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  transition: 0.2s;
  box-shadow: var(--nav-shadow);
  -webkit-box-shadow: var(--nav-shadow);
  -moz-box-shadow: var(--nav-shadow);
}

.header-container {
  margin-inline: auto;
  padding: 0.625em var(--padding-left-right);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1025px) {
  .header-container {
    padding: 0.625em;
  }
}
@media (min-width: 1260px) {
  .header-container {
    padding: 10px 0;
  }
}
.header-container a {
  display: flex;
}
.header-container a.header-logo {
  height: 100%;
  margin-right: 5px;
}
.header-container a.green-contact-btn {
  color: #fff;
}
.header-container a.phone-number {
  height: auto;
}
.header-container a img {
  height: inherit;
  width: auto;
}
.header-container nav {
  background-color: #fff;
  width: 100%;
}
.header-container nav li:not(:last-child) {
  margin-bottom: 1.5em;
}
.header-container nav hr {
  margin: 0;
  margin-top: 2rem;
  width: 100%;
}
.header-container nav .sub-menu {
  padding-inline: var(--padding-left-right);
}
.header-container nav .sub-menu li {
  font-size: 1rem;
  display: flex;
}
.header-container nav .sub-menu li:not(:last-child) {
  margin-bottom: 1em;
}
.header-container nav .sub-menu i {
  padding-right: 1em;
}
.header-container nav .nav-right-container .nav-search-contact-container,
.header-container nav .nav-bottom-container .nav-search-contact-container {
  padding-top: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-image {
  margin-top: var(--header-height);
  aspect-ratio: 2.735/1;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.background-image.coachen, .background-image.zorgen, .background-image.werken {
  background-position: 0 40%;
}
.background-image.zorgen {
  background-image: url(/assets/images/bg-images/DEF_WIJJ_oranjeklein.png);
}
.background-image.werken {
  background-image: url(/assets/images/bg-images/DEF_WIJJ_paarsklein.png);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  main {
    position: relative;
  }
}
main.coachen section:nth-child(2), main.zorgen section:nth-child(2), main.werken section:nth-child(2) {
  background-color: #eee;
}
@media (min-width: 768px) {
  main.coachen .text-container, main.zorgen .text-container, main.werken .text-container {
    text-align: start;
  }
  main.coachen .text-container p,
  main.coachen .text-container ul, main.zorgen .text-container p,
  main.zorgen .text-container ul, main.werken .text-container p,
  main.werken .text-container ul {
    text-align: start;
  }
}

section {
  text-align: center;
  padding: 2.5em var(--padding-left-right);
}
section:not(.intro) {
  width: 100%;
}
@media (min-width: 768px) {
  section:nth-child(2) {
    padding-top: 22rem;
  }
}
@media (min-width: 1025px) {
  section.text-container {
    padding: 2.5em 0;
  }
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 20px var(--padding-left-right);
  color: #fff;
}
.footer-bottom-container .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
  font-size: var(--standard-font-size);
}
.footer-bottom-container .footer-links ul a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}
.footer-bottom-container .footer-links ul a:hover {
  text-decoration: underline;
}
.footer-bottom-container .btn-slogan-container {
  text-align: center;
}
.footer-bottom-container button:focus-visible,
.footer-bottom-container a:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 3px;
}
@media (min-width: 768px) {
  .footer-bottom-container button:focus-visible,
  .footer-bottom-container a:focus-visible {
    outline: 3px solid #fff;
  }
}

button,
input[type=submit],
.contact-btn {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 9999px;
}

.navbar-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  height: 2rem;
  border-radius: 2px;
}
@media (min-width: 1025px) {
  .navbar-toggle-btn {
    display: none;
  }
}

.search-btn {
  align-content: center;
}

.dropdown-btn {
  margin-left: 5px;
}
.dropdown-btn:hover, .dropdown-btn:focus-visible {
  transform: scale(1.2);
}
.dropdown-btn i {
  transition: 0.2s;
}

.contact-btn {
  color: #fff;
  padding: 5px 20px;
  width: fit-content;
  margin: auto;
}
.contact-btn:hover {
  text-decoration: none;
}
.contact-btn.large {
  font-size: 1.25rem;
  padding: 15px 20px;
}
.contact-btn.large i {
  color: #fff;
  margin-right: 10px;
}

.download-btn {
  background-color: #ebe9f3;
  padding: 10px 50px;
  position: relative;
  margin-bottom: 20px;
}
.download-btn:hover {
  background-color: #fff;
}
.download-btn i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.download-btn:focus-visible,
.orange-contact-btn:focus-visible,
.green-contact-btn:focus-visible {
  border-radius: 9999px;
}

#mobile-tablet-navbar {
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height));
  top: var(--header-height);
  left: -100vw;
  padding: 1.25em var(--padding-left-right);
  transition: left 0.2s;
}
#mobile-tablet-navbar .nav-list > li :first-of-type(.sub-menu) {
  margin-bottom: 1rem;
}
#mobile-tablet-navbar .nav-list > li > a {
  margin-bottom: 1rem;
}
#mobile-tablet-navbar .nav-bottom-container {
  width: fit-content;
  padding-top: 2rem;
}
@media (min-width: 1025px) {
  #mobile-tablet-navbar {
    display: none;
  }
}

#desktop-navbar {
  display: none;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 1025px) {
  #desktop-navbar {
    display: flex;
  }
}
#desktop-navbar .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desktop-navbar .nav-list > li {
  margin: 0 0 0 30px;
  position: relative;
}
#desktop-navbar .nav-list > li .dropdown-nav-item {
  padding: 10px 0;
  display: flex;
}
#desktop-navbar .nav-list > li .dropdown-menu {
  --border-radius: 10px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: -20px;
  min-width: 130px;
  padding: 30px 20px 20px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
#desktop-navbar .nav-list > li .dropdown-menu:after {
  content: "";
  position: absolute;
  left: 5%;
  width: 90%;
  bottom: 1px;
  z-index: -2;
  box-shadow: var(--nav-shadow);
}
#desktop-navbar .nav-right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#desktop-navbar .nav-right-container .nav-search-contact-container {
  padding: 0;
}

@media (min-width: 768px) {
  .intro {
    position: absolute;
    top: -3.125em;
    min-width: 37rem;
    margin-inline: 8rem;
    padding-inline: 4rem;
    border-radius: 3rem;
  }
}
@media (min-width: 1025px) {
  .intro {
    margin: 0;
    width: 42em;
  }
}

.contact-container {
  background-color: #ebf6f8;
  padding: 2.5em var(--padding-left-right);
}
.contact-container h2 {
  text-align: center;
}
.contact-container a {
  text-decoration: underline;
  text-transform: none;
}
.contact-container .contact-details-container {
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-container .contact-details-container a {
  font-weight: bold;
}
.contact-container .contact-details-container .social-media-container {
  width: var(--width-social-media-container);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-container .contact-details-container .social-media-container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-container .contact-details-container .social-media-container span i {
  font-size: var(--icon-font-size);
}
.contact-container .contact-details-container img {
  width: 100%;
}

.contact-form {
  width: 100%;
}
.contact-form input[type=text],
.contact-form textarea {
  border: 1px solid #767676;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  margin-top: 0.25rem;
}
@media (min-width: 768px) {
  .contact-form input[type=text],
  .contact-form textarea {
    border: 2px solid #767676;
  }
}
.contact-form textarea {
  resize: none;
}
.contact-form input[type=submit] {
  background-color: var(--standard-green);
  color: #fff;
  width: 100%;
  padding: 0.5rem 0;
}
.contact-form .row {
  display: flex;
  text-align: start;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .contact-form .row {
    gap: 2rem;
  }
}
.contact-form .row .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form .row p {
  text-align: center;
  width: 100%;
}

hr {
  border-top: 1px solid #777;
  width: calc(100% - 2 * var(--margin-hr));
  margin: 0 var(--margin-hr);
}
@media (min-width: 1200px) {
  hr {
    width: var(--max-width-wide-container);
  }
}

.organisations {
  text-align: center;
  padding: 2.5em var(--padding-left-right);
}
.organisations .organisation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em 3.125em;
}
@media (min-width: 768px) {
  .organisations .organisation-container {
    column-gap: 4em;
  }
}
@media (min-width: 1025px) {
  .organisations .organisation-container {
    column-gap: 5em;
  }
}
@media (min-width: 1200px) {
  .organisations .organisation-container {
    column-gap: 6em;
  }
}
.organisations .organisation-container img {
  height: 4em;
}

@media (min-width: 768px) {
  .content-wrapper {
    --gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
  }
}
.content-wrapper.vacatures article {
  background-color: var(--intro-bg-purple);
  padding: 10px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .content-wrapper article {
    flex: 0 0 calc(50% - var(--gap));
  }
}
.content-wrapper article:not(:last-of-type) {
  margin-bottom: 2em;
}
@media (min-width: 1025px) {
  .content-wrapper article:not(:last-of-type) {
    margin-bottom: 0;
  }
}
.content-wrapper article p.uppercase-bold {
  text-transform: uppercase;
  font-weight: 500;
}
.content-wrapper article p:not(:last-child) {
  margin-bottom: 1rem;
}
.content-wrapper article img {
  height: 3.75em;
  width: auto;
  padding-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */
