:root {
  --standard-font-size: 14px;
  --header-height: 5rem;
  --padding-left-right: 1.25rem;
  --heading-padding-bottom-h1-h2: 1rem;
  --heading-padding-bottom-h3: 1rem;
  --heading-padding-bottom-h4: 1.125rem;
  --icon-font-size: 2.5rem;
  --standard-green: #007078;
  --standard-orange: #db7602;
  --dark-green: color-mix(in srgb, var(--standard-green) 80%, black);
  --dark-orange: color-mix(in srgb, var(--standard-orange) 90%, black);
  --lighter-green: #009fa9;
  --margin-hr: var(--padding-left-right);
  --width-social-media-container: 8rem;
  --max-width-wide-container: 1200px;
  --max-width-text-container: 800px;
  --nav-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  :root {
    --standard-font-size: 16px;
  }
}
@media (min-width: 1025px) {
  :root {
    --standard-font-size: 18px;
    --header-height: 4.5rem;
    --padding-left-right: 3.5rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video,
canvas {
  font-style: italic;
}

img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

html {
  font-size: var(--standard-font-size);
}

h1,
h2,
h3,
nav {
  color: var(--standard-green);
}

h1,
h2,
h3,
nav,
button {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
h2 {
  padding-bottom: var(--heading-padding-bottom-h1-h2);
}

h3 {
  padding-bottom: var(--heading-padding-bottom-h3);
}

h4 {
  padding-bottom: var(--heading-padding-bottom-h4);
}

i {
  color: #222;
}

h1 {
  font-size: clamp(2.125rem, 4.5vw, 3rem);
}

h2 {
  font-size: clamp(1.75rem, 3.75vw, 2.5rem);
}
h2.small {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

nav {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
p:not(:last-child) {
  padding-bottom: 1.5rem;
}
p.small {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: var(--standard-green);
}
a:hover {
  text-decoration: underline;
}
a[aria-current=page] {
  text-decoration: underline;
  font-weight: 500;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  line-height: 1.5;
}

.slogan {
  font-size: 1.25rem;
  padding-bottom: 0;
  text-transform: uppercase;
}

.copyright {
  font-weight: 300;
}

.phone-number {
  font-size: 1.5rem;
  text-decoration: underline;
}
.phone-number:hover {
  color: var(--dark-green);
}
@media (min-width: 1025px) {
  .phone-number {
    font-size: 1.25rem;
  }
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
  border-radius: 2px;
}

.skiplink {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fff;
  padding: 2px 10px;
  color: var(--standard-green);
  font-weight: 500;
  transition: top 0.2s;
}
.skiplink:focus-visible {
  top: 10px;
}

.wide-container {
  max-width: var(--max-width-wide-container);
  margin-inline: auto;
}

.text-container {
  max-width: var(--max-width-text-container);
  margin-inline: auto;
}
.text-container .services-list {
  text-align: start;
}
.text-container .services-list i {
  margin-right: 10px;
}
.text-container .steps-list {
  text-align: start;
  list-style-type: square;
  padding-left: var(--padding-left-right);
}
@media (min-width: 1200px) {
  .text-container .steps-list {
    padding-left: 1rem;
  }
}

header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  transition: 0.2s;
  box-shadow: var(--nav-shadow);
  -webkit-box-shadow: var(--nav-shadow);
  -moz-box-shadow: var(--nav-shadow);
}

.header-container {
  margin-inline: auto;
  padding: 0.625em var(--padding-left-right);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1025px) {
  .header-container {
    padding: 0.625em;
  }
}
@media (min-width: 1260px) {
  .header-container {
    padding: 10px 0;
  }
}
.header-container a {
  display: flex;
}
.header-container a.header-logo {
  height: 100%;
  margin-right: 5px;
}
.header-container a.green-contact-btn {
  color: #fff;
}
.header-container a.phone-number {
  height: auto;
}
.header-container a img {
  height: inherit;
  width: auto;
}
.header-container nav {
  background-color: #fff;
  width: 100%;
}
.header-container nav li:not(:last-child) {
  margin-bottom: 1.5em;
}
.header-container nav hr {
  margin: 0;
  margin-top: 2rem;
  width: 100%;
}
.header-container nav .sub-menu {
  padding-inline: var(--padding-left-right);
}
.header-container nav .sub-menu li {
  font-size: 1rem;
  display: flex;
}
.header-container nav .sub-menu li:not(:last-child) {
  margin-bottom: 1em;
}
.header-container nav .sub-menu i {
  padding-right: 1em;
}
.header-container nav .nav-right-container .nav-search-contact-container,
.header-container nav .nav-bottom-container .nav-search-contact-container {
  padding-top: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  main {
    position: relative;
  }
}
main.home section:nth-child(2) {
  background-color: #cbe8ed;
}
main.coachen section:nth-child(2) {
  background-color: #eee;
}
@media (min-width: 768px) {
  main.coachen .text-container {
    text-align: start;
  }
  main.coachen .text-container p,
  main.coachen .text-container ul {
    text-align: start;
  }
}

section {
  text-align: center;
  padding: 2.5em var(--padding-left-right);
}
section:not(.intro) {
  width: 100%;
}
@media (min-width: 768px) {
  section:nth-child(2) {
    padding-top: 22rem;
  }
}
section article:not(:last-child) {
  padding-bottom: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  background-color: var(--standard-green);
  padding: 20px var(--padding-left-right);
  color: #fff;
}
footer .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
  font-size: var(--standard-font-size);
}
footer .footer-links ul a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}
footer .footer-links ul a:hover {
  text-decoration: underline;
}
footer .btn-slogan-container {
  text-align: center;
}
footer button:focus-visible,
footer a:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
  border-radius: 2px;
}

button,
input[type=submit] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 9999px;
}

.navbar-toggle-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  height: 2rem;
  border-radius: 2px;
}
@media (min-width: 1025px) {
  .navbar-toggle-btn {
    display: none;
  }
}
.navbar-toggle-btn i {
  color: var(--standard-green);
}

.search-btn {
  align-content: center;
}

.dropdown-btn {
  margin-left: 5px;
}
.dropdown-btn:hover, .dropdown-btn:focus-visible {
  transform: scale(1.2);
}
.dropdown-btn i {
  color: var(--standard-green);
  transition: 0.2s;
}

.green-contact-btn {
  background-color: var(--standard-green);
  padding: 5px 20px;
  border-radius: 9999px;
  text-decoration: none;
}
.green-contact-btn:hover {
  text-decoration: none;
  background-color: var(--dark-green);
}

.orange-contact-btn {
  background-color: var(--standard-orange);
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  padding: 15px 20px;
}
.orange-contact-btn:hover {
  background-color: var(--dark-orange);
}

.download-btn {
  background-color: #ebe9f3;
  color: var(--standard-green);
  padding: 10px 50px;
  position: relative;
  margin-bottom: 20px;
}
.download-btn:hover {
  background-color: #fff;
}
.download-btn i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: var(--standard-green);
}

.download-btn:focus-visible,
.orange-contact-btn:focus-visible,
.green-contact-btn:focus-visible {
  border-radius: 9999px;
}

#mobile-tablet-navbar {
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height));
  top: var(--header-height);
  left: -100vw;
  padding: 1.25em var(--padding-left-right);
  transition: left 0.2s;
}
#mobile-tablet-navbar .nav-list > li :first-of-type(.sub-menu) {
  margin-bottom: 1rem;
}
#mobile-tablet-navbar .nav-list > li > a {
  margin-bottom: 1rem;
}
#mobile-tablet-navbar .nav-bottom-container {
  width: fit-content;
  padding-top: 2rem;
}
@media (min-width: 1025px) {
  #mobile-tablet-navbar {
    display: none;
  }
}

#desktop-navbar {
  display: none;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 1025px) {
  #desktop-navbar {
    display: flex;
  }
}
#desktop-navbar .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desktop-navbar .nav-list > li {
  margin: 0 0 0 30px;
  position: relative;
}
#desktop-navbar .nav-list > li .dropdown-nav-item {
  padding: 10px 0;
  display: flex;
}
#desktop-navbar .nav-list > li .dropdown-menu {
  --border-radius: 10px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: -20px;
  min-width: 130px;
  padding: 30px 20px 20px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
#desktop-navbar .nav-list > li .dropdown-menu:after {
  content: "";
  position: absolute;
  left: 5%;
  width: 90%;
  bottom: 1px;
  z-index: -2;
  box-shadow: var(--nav-shadow);
}
#desktop-navbar .nav-right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#desktop-navbar .nav-right-container .nav-search-contact-container {
  padding: 0;
}

.background-image {
  margin-top: var(--header-height);
  aspect-ratio: 2.735/1;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.background-image.home {
  background-image: url(/assets/images/bg-images/DEF_WIJJ_intro.png);
}
.background-image.coachen, .background-image.zorgen, .background-image.werken {
  background-image: url(/assets//images//bg-images/DEF_WIJJ_blauwklein.png);
  background-position: 0 40%;
}

.contact-container {
  background-color: #ebf6f8;
  width: 100%;
}
.contact-container a {
  text-decoration: underline;
}
.contact-container p input[type=text],
.contact-container p textarea,
.contact-container form input[type=text],
.contact-container form textarea {
  border: none;
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.contact-container p textarea,
.contact-container form textarea {
  height: 100px;
}
.contact-container p span,
.contact-container form span {
  position: relative;
}
.contact-container p input[type=submit],
.contact-container form input[type=submit] {
  background-color: var(--standard-green);
  color: #fff;
  width: 100%;
  padding: 5px 50px;
}
.contact-container .contact-details-container {
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-container .contact-details-container h4 {
  color: var(--standard-green);
}
.contact-container .contact-details-container a {
  color: var(--standard-green);
  font-weight: bold;
}
.contact-container .contact-details-container .social-media-container {
  width: var(--width-social-media-container);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-container .contact-details-container .social-media-container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-container .contact-details-container .social-media-container span i {
  font-size: var(--icon-font-size);
}
.contact-container .contact-details-container .social-media-container span i:hover {
  color: var(--dark-green);
}
.contact-container .contact-details-container img {
  width: 100%;
}

hr {
  border-top: 1px solid #777;
  width: calc(100% - 2 * var(--margin-hr));
  margin: 0 var(--margin-hr);
}
@media (min-width: 1200px) {
  hr {
    width: var(--max-width-wide-container);
  }
}

@media (min-width: 768px) {
  .intro {
    position: absolute;
    top: -3.125em;
    background-color: #fff;
    min-width: 37rem;
    margin-inline: 8rem;
    padding-inline: 4rem;
    border-radius: 3rem;
  }
}
@media (min-width: 1025px) {
  .intro {
    margin: 0;
    width: 42em;
  }
}

.coachen .intro {
  background-color: #bde4f7;
}

@media (min-width: 768px) {
  .stances {
    --gap: 3rem;
  }
}
@media (min-width: 768px) {
  .stances .stances-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
  }
}
@media (min-width: 768px) {
  .stances .stances-container article {
    flex: 0 0 calc(50% - var(--gap));
  }
}
@media (min-width: 1200px) {
  .stances .stances-container article {
    flex: 0 0 calc(20% - var(--gap));
  }
}
.stances article {
  text-align: start;
}
.stances article img {
  height: 3.75em;
  width: auto;
  padding-bottom: 1em;
}

.organisations .organisation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em 3.125em;
}
@media (min-width: 768px) {
  .organisations .organisation-container {
    column-gap: 4em;
  }
}
@media (min-width: 1025px) {
  .organisations .organisation-container {
    column-gap: 5em;
  }
}
@media (min-width: 1200px) {
  .organisations .organisation-container {
    column-gap: 6em;
  }
}
.organisations .organisation-container img {
  height: 4em;
}

/*# sourceMappingURL=style.css.map */
