//BACKGROUND IMAGE
.background-image {
	margin-top: var(--header-height);
	aspect-ratio: 2.735 / 1;
	width: 100vw;
	background-position: center;
	background-size: cover;

	&.coachen,
	&.zorgen,
	&.werken {
		background-position: 0 40%;
	}

	&.zorgen {
		background-image: url(/assets/images/bg-images/DEF_WIJJ_oranjeklein.png);
	}

	&.werken {
		background-image: url(/assets/images/bg-images/DEF_WIJJ_paarsklein.png);
	}
}
