.wide-container {
	max-width: var(--max-width-wide-container);
	margin-inline: auto;
}

.text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: var(--max-width-text-container);
	margin-inline: auto;

	& > *:not(h2):not(:last-child) {
		margin-bottom: 2rem;
	}

	hr {
		margin-inline: 0;
		width: 100%;
	}

	ul {
		text-align: start;
		list-style-type: square;
		width: 100%;
		list-style-position: inside;

		li:has(a) {
			list-style-type: none;
		}
	}

	ol {
		list-style: decimal;
		margin-left: 2em;
	}

	.logo-container {
		display: flex;
		justify-content: center;
	}
}

.form-container {
	width: 100%;

	p {
		margin-bottom: 1.5em;
	}
}
