//FOOTER
.footer-bottom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	padding: 20px var(--padding-left-right);
	color: #fff;

	.footer-links {
		width: 100%;
		max-width: 800px;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 10px 30px;
			font-size: var(--standard-font-size);
			width: 100%;

			@media (min-width: 768px) {
				justify-content: space-between;
			}

			a {
				color: #fff;
				text-decoration: none;
				text-transform: none;

				&[aria-current='page'] {
					text-decoration: underline;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.btn-slogan-container {
		text-align: center;
	}

	//FOCUS
	button:focus-visible,
	a:focus-visible {
		outline: 2px solid #fff;
		outline-offset: 3px;

		@media (min-width: 768px) {
			outline: 3px solid #fff;
		}
	}
}
