//HEADER
header {
	height: var(--header-height);
	width: 100%;

	position: fixed;
	top: 0;
	z-index: 100;
	background-color: #fff;
	transition: 0.2s;
	box-shadow: var(--nav-shadow);
	-webkit-box-shadow: var(--nav-shadow);
	-moz-box-shadow: var(--nav-shadow);
}

.header-container {
	margin-inline: auto;
	padding: 0.625em var(--padding-left-right);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (min-width: 1025px) {
		padding: 0.625em;
	}

	@media (min-width: 1260px) {
		padding: 10px 0;
	}

	a {
		height: 100%;
		color: var(--standard-green);

		&.header-logo {
			margin-right: 5px;
		}

		&.green-contact-btn {
			color: #fff;
		}

		&.phone-number {
			height: auto;
		}

		img {
			height: inherit;
			width: auto;
		}
	}

	nav {
		background-color: #fff;
		width: 100%;

		li:not(:last-child) {
			margin-bottom: 1.5em;
		}

		hr {
			margin-top: 2rem;
		}

		.sub-menu {
			padding: 1em var(--padding-left-right);

			&:last-child {
				padding-bottom: 0;
			}

			li {
				font-size: 1rem;
			}

			li:not(:last-child) {
				margin-bottom: 1em;
			}

			i {
				padding-right: 1em;
			}
		}

		.nav-right-container {
			.nav-search-contact-container {
				padding-top: 1.25em;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
