section {
	padding: var(--padding-top-bottom) var(--padding-left-right);

	&.intro {
		text-align: center;
	}

	&:not(.intro) {
		width: 100%;
	}

	&:nth-child(2) {
		@media (min-width: 768px) {
			padding-top: 22rem;
		}
	}

	&.text-container {
		@media (min-width: 1025px) {
			padding: 2.5em 0;
		}
	}
}
