section {
	text-align: center;
	padding: 2.5em var(--padding-left-right);

	&:not(.intro) {
		width: 100%;
	}

	&:nth-child(2) {
		@media (min-width: 768px) {
			padding-top: 22rem;
		}
	}

	article:not(:last-child) {
		padding-bottom: 2em;
	}
}
