//BACKGROUND IMAGE
.background-image {
	margin-top: var(--header-height);
	aspect-ratio: 2.735 / 1;
	width: 100vw;
	background-position: center;
	background-size: cover;

	&.home {
		background-image: url(/assets/images/bg-images/DEF_WIJJ_intro.png);
	}

	&.coachen,
	&.zorgen,
	&.werken {
		background-image: url(/assets//images//bg-images/DEF_WIJJ_blauwklein.png);
		background-position: 0 40%;
	}
}
