.contact-container {
	background-color: #ebf6f8;
	padding: var(--padding-top-bottom) var(--padding-left-right);

	h2 {
		text-align: center;
	}

	a {
		text-decoration: underline;
		text-transform: none;
	}

	.contact-details-container {
		text-align: start;
		width: 100%;
		display: flex;
		justify-content: space-between;

		a {
			font-weight: bold;
		}

		.social-media-container {
			width: var(--width-social-media-container);
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			span {
				width: 100%;
				display: flex;
				justify-content: space-between;

				i {
					font-size: var(--icon-font-size);
				}
			}
		}
		img {
			width: 100%;
		}
	}
}
