.content-wrapper {
	@media (min-width: 768px) {
		--gap: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: var(--gap);
	}

	&.vacatures {
		article {
			background-color: var(--intro-bg-purple);
			padding: 10px;
			border-radius: 10px;
		}
	}

	article {
		@media (min-width: 768px) {
			flex: 0 0 calc(50% - var(--gap));
		}

		&:not(:last-of-type) {
			margin-bottom: 2em;

			@media (min-width: 1025px) {
				margin-bottom: 0;
			}
		}

		p.uppercase-bold {
			text-transform: uppercase;
			font-weight: 500;
		}

		p:not(:last-child) {
			margin-bottom: 1rem;
		}

		img {
			height: 3.75em;
			width: auto;
			margin-bottom: 1em;
		}
	}

	.team-member {
		display: flex;
		flex-direction: column;
		align-content: center;
		flex: 0 1 auto;
		gap: 1em;

		@media (min-width: 768px) {
			flex-direction: row;

			&:nth-child(even) {
				flex-direction: row-reverse;
			}
		}

		img {
			height: unset;
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border-radius: 10px;
			margin: 0;

			@media (min-width: 480px) {
				width: 40%;
			}
		}

		h4 {
			margin-bottom: 0.25em;
		}

		h5 {
			margin-bottom: 1em;
		}

		.team-member-info {
			text-align: start;
			margin-top: 5px;
		}
	}
}
