.contact-form {
	width: 100%;

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	textarea {
		border: 1px solid #767676;
		border-radius: 5px;
		width: 100%;
		padding: 5px 10px;
		margin-top: 0.5rem;

		@media (min-width: 768px) {
			border: 2px solid #767676;
		}
	}

	textarea {
		resize: none;
	}

	input[type='submit'] {
		background-color: var(--standard-green);
		color: #fff;
		width: 100%;
		padding: 0.5rem 0;
	}

	a {
		text-decoration: underline;
		text-transform: none;
	}

	.row {
		display: flex;
		text-align: start;
		justify-content: space-between;
		gap: 1rem;
		margin-bottom: 0.875rem;

		@media (min-width: 768px) {
			gap: 2rem;
		}

		.form-group {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		p {
			text-align: center;
			width: 100%;

			&.alert {
				margin-top: 5px;
				color: var(--alert-red);
				font-size: 0.75rem;
				text-align: start;
			}
		}

		input,
		textarea {
			&.alert {
				border-color: var(--alert-red);
			}
		}
	}

	.form-error-container {
		margin: 1rem 0;
		border: 2px solid var(--alert-red);
		border-radius: 10px;
		padding: 10px;

		ul {
			margin-top: 5px;
			text-align: start;
			list-style-type: disc;
			margin-left: 1rem;
		}
	}
}

#confirmation {
	background-color: #fff;
	color: var(--standard-green);
	border: 3px solid var(--standard-green);
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 10px;
}
