//HEADER
header {
	height: var(--header-height);
	width: 100%;
	padding: 0.625em var(--padding-left-right);
	position: fixed;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	transition: 0.2s;
	box-shadow: var(--nav-shadow);
	-webkit-box-shadow: var(--nav-shadow);
	-moz-box-shadow: var(--nav-shadow);

	a {
		height: 100%;
		color: var(--standard-green);
		text-decoration: none;

		img {
			height: inherit;
			width: auto;
		}
	}

	nav {
		background-color: #fff;
		width: 100%;

		&#mobile-tablet-navigation {
			position: absolute;
			height: 100vh;
			top: var(--header-height);
			left: -100vw;
			padding: 1.25em var(--padding-left-right);
			transition: left 0.2s;
		}

		&.open {
			display: block;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			bottom: 1px;
			z-index: -1;
			box-shadow: var(--nav-shadow);
		}

		li:not(:last-child) {
			margin-bottom: 1.5em;
		}

		hr {
			margin-top: 2rem;
		}

		.sub-menu {
			padding: 1em var(--padding-left-right);

			&:last-child {
				padding-bottom: 0;
			}

			li {
				font-size: 1rem;
			}

			li:not(:last-child) {
				margin-bottom: 1em;
			}

			i {
				color: var(--standard-green);
				padding-right: 1em;
			}
		}

		.nav-right-container {
			&.mobile {
				width: fit-content;
				padding-top: 40px;
			}

			.phone-number {
				font-size: 1.5rem;
				color: var(--lighter-green);
				text-decoration: underline;
			}

			.nav-search-contact-container {
				padding-top: 1.25em;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	#larger-than-mobile-navigation {
		display: none;
	}
}

@media (min-width: 1025px) {
	header {
		//display/hide elements for >= 1024px
		padding: 10px 30px;

		#mobile-tablet-navigation {
			display: none;
		}

		#larger-than-mobile-navigation {
			display: flex;
			justify-content: space-between;
			height: 100%;

			.nav-list {
				display: flex;
				justify-content: space-between;
				align-items: center;

				& > li {
					margin: 0 0 0 20px;
				}
			}

			.nav-right-container {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.phone-number {
					font-size: 1.5rem;
				}

				.nav-search-contact-container {
					padding: 0;
				}
			}
		}

		#navbar-toggle-btn {
			display: none;
		}

		.dropdown-container {
			display: none;
			list-style-type: none;
			padding: 20px var(--padding-left-right);
			background-color: white;
			width: 100%;
			color: var(--standard-green);
		}

		.dropdown-btn {
			cursor: pointer;

			.fa-chevron-down {
				padding-left: 10px;
			}
		}
	}
}
