.intro {
	@media (min-width: 768px) {
		position: absolute;
		top: -3.125em;
		min-width: 37rem;
		margin-inline: 8rem;
		padding-inline: 4rem;
		border-radius: 3rem;
	}

	@media (min-width: 1025px) {
		margin: 0;
		width: 42em;
	}
}
