#mobile-tablet-navbar {
	position: absolute;
	height: 100vh;
	overflow-y: auto;
	max-height: calc(100vh - var(--header-height));
	top: var(--header-height);
	left: -100vw;
	padding: 1.25em var(--padding-left-right);
	transition: left 0.2s;

	@media (min-width: 1025px) {
		display: none;
	}
}
