#mobile-tablet-navbar {
	position: absolute;
	height: 100vh;
	overflow-y: auto;
	max-height: calc(100vh - var(--header-height));
	top: var(--header-height);
	left: -100vw;
	padding: 1.25em var(--padding-left-right);
	transition: left 0.2s;

	.nav-list > li {
		:first-of-type(.sub-menu) {
			margin-bottom: 1rem;
		}
		> a {
			margin-bottom: 1rem;
		}
	}

	.nav-bottom-container {
		width: fit-content;
		padding-top: 2rem;
	}

	@media (min-width: 1025px) {
		display: none;
	}
}
