.organisations {
	text-align: center;
	padding: 2.5em var(--padding-left-right);

	.organisation-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.25em 3.125em;

		@media (min-width: 768px) {
			column-gap: 4em;
		}

		@media (min-width: 1025px) {
			column-gap: 5em;
		}

		@media (min-width: 1200px) {
			column-gap: 6em;
		}

		img {
			height: 4em;
		}
	}
}
