.services-list {
	display: grid;
	gap: 2rem;

	li {
		padding: 5px 10px;
		border-radius: 10px;
	}

	p {
		margin-bottom: 1rem;
	}

	a {
		text-transform: none;

		i {
			margin-right: 10px;
		}
	}
}
