//FOCUS
button:focus-visible,
a:focus-visible,
input[type='text']:focus-visible,
input[type='email']:focus-visible,
input[type='submit']:focus-visible,
input[type='tel']:focus-visible,
textarea:focus-visible,
#form-error-container:focus-visible {
	outline: 2px solid #000;
	outline-offset: 2px;
	border-radius: 2px;

	@media (min-width: 768px) {
		outline: 3px solid #000;
		outline-offset: 3px;
	}
}

.contact-btn:focus-visible,
.download-btn:focus-visible,
input[type='submit']:focus-visible {
	border-radius: 9999px;
}

.skiplink {
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	background-color: #fff;
	padding: 5px 10px;
	color: var(--standard-green);
	font-weight: 500;
	transition: top 0.2s;

	&:focus-visible {
		top: 10px;
		outline-offset: 0;
	}
}
