@use '../utils/mixins';

.theme-home {
	@include mixins.theme-colors(green);

	.background-image {
		background-image: url(/assets/images/bg-images/DEF_WIJJ_intro.png);
	}

	main {
		.intro {
			background-color: #fff;
		}

		section:nth-child(2) {
			background-color: #cbe8ed;
		}
	}
}

.theme-coachen {
	@include mixins.theme-colors(blue);

	.background-image {
		background-image: url(/assets/images//bg-images/DEF_WIJJ_blauwklein.png);
	}

	main {
		.text-container {
			display: block;
			text-align: start;
		}
	}
}

.theme-zorgen {
	@include mixins.theme-colors(orange);

	.background-image {
		background-image: url(/assets/images//bg-images/DEF_WIJJ_oranjeklein.png);
	}

	main {
		.text-container {
			display: block;
			text-align: start;
		}
	}
}

.theme-werken {
	@include mixins.theme-colors(purple);

	.background-image {
		background-image: url(/assets/images//bg-images/DEF_WIJJ_paarsklein.png);
	}
}

.theme-contact {
	@include mixins.theme-colors(green);

	main {
		margin-top: var(--header-height);
	}
}

.theme-general {
	@include mixins.theme-colors(green);

	main {
		margin-top: var(--header-height);
		p {
			text-align: start;
			width: 100%;
		}
	}
}

.theme-over-ons {
	@include mixins.theme-colors(green);

	.background-image {
		background-image: url(/assets/images/bg-images/DEF_WIJJ_mozaiekklein.png);
		aspect-ratio: 3 / 1;
	}

	main {
		.intro {
			background-color: #cbe8ed;
		}

		.text-container {
			display: block;
			text-align: start;
		}
	}
}

.theme-ontmoet-het-team-van-wijj {
	@include mixins.theme-colors(green);

	.background-image {
		background-image: url(/assets/images/bg-images/DEF_WIJJ_mozaiekklein.png);
		aspect-ratio: 3 / 1;
	}

	main {
		.intro {
			background-color: #cbe8ed;
		}

		.text-container {
			text-align: start;
		}
	}
}
